
<section class="src-components-login">
    <div id="login">
      <br>
      <img alt="Vue logo" :src="image">
      <br>
      <br>
      <div class="mx-auto" style="width: 300px;">
        <div class="col-30">
          
          <div v-if="msg != 'OK'"
               class="alert alert-dark" 
               role="alert">
               {{ msg }}
          </div>

            <vue-form :state="formstate" @submit.prevent="ingresar()">
                      
                <!-- ---------------------------------- Campo Usuario ---------------------------------- -->
                  <validate tag="div">

                    <input  type="text"
                            id="usuario" 
                            placeholder="USUARIO"
                            v-model="formData.usuario" 
                            name="usuario"
                            class="form-control input-login"
                            required 
                            autocomplete="off"
                            no-espacios
                     >
              
                    <field-messages name="usuario" show="$dirty">
                      <div slot="required" class="alert alert-danger mt-1">
                        Campo requerido.
                      </div>
                      <div slot="no-espacios" class="alert alert-danger mt-1">
                        No esta permitido el ingreso de espacios entremedio del texto
                      </div>
                    </field-messages>

                  </validate>

                  <br>
                   <!-- ---------------------------------- Campo Pass ---------------------------------- -->
                   <validate tag="div">

                    <input  type="password"
                            id="contrasenia" 
                            placeholder="CONTRASEÑA"
                            v-model="formData.contrasenia" 
                            name="contrasenia"
                            class="form-control input-login"
                            required 
                            autocomplete="off"
                            no-espacios
                     >
              
                    <field-messages name="contrasenia" show="$dirty">
                      <div slot="required" class="alert alert-danger mt-1">
                        Campo requerido.
                      </div>
                      <div slot="no-espacios" class="alert alert-danger mt-1">
                        No esta permitido el ingreso de espacios entremedio del texto
                      </div>
                    </field-messages>

                  </validate>

                  <br>

                  <button class="btn btn-primary my-3" 
                          :disabled="formstate.$invalid"
                          type="submit"
                          id="boton">
                          INGRESAR
                  </button>
            </vue-form>


        </div>
      </div>
    </div>

</section>

