
<section class="src-components-home container">
   
    <div id="header">
      <HeaderTitulo :titulo="titulo"></HeaderTitulo>
    </div>


      <div class="card-pacientes row">
      
        <div class="col-md-3 text-center pacientes-icons">
          <font-awesome-icon icon="users" />
        </div>
        
        <div class="col-md-9 text-right pacientes-detail">
          <h2>GESTION DE PACIENTES</h2>
          
          <router-link to="/registro">
            <p>Alta de pacientes</p>
          </router-link>
          <router-link to="/pacientes">
            <p>Lista de pacientes</p>
          </router-link>
          <router-link to="">
            <p>Historial de pacientes</p>
          </router-link>

        </div>
      
      </div>

      <div class="card-turnos row">
    
        <div class="col-md-3 text-center turnos-icons">
          <font-awesome-icon icon="calendar-alt" />
        </div>
      
        <div class="col-md-9 text-right turnos-detail">
          <h2>GESTION DE TURNOS</h2>
          <p>Agendar turnos</p>
          <p>Consultar turnos</p>
        </div>
    
      </div>

      <div class="card-productos row">
    
        <div class="col-md-3 text-center productos-icons">
          <font-awesome-icon icon="wine-bottle" />
        </div>
    
        <div class="col-md-9 text-right productos-detail">
          <h2>CATALOGO DE PRODUCTOS</h2>
          <p>Alta de producto</p>
          <p>Lista de productos</p>
        </div>
    
      </div>

    </div>
</section>

