
<section class="src-components-producto ">
  
  <div id="header" >
    <HeaderTitle :titulo="titulo"></HeaderTitle>
  </div>

<br>
  <div id="navigator" class="container">

    <vue-form :state="formstate" @submit.prevent="guardar()" @reset="cancelar()" class="form-registro">

      <div class="form-row">

        <div class="form-group col-md-4">
          <validate tag="div">
            <input type="text" id="codigo" placeholder="*Codigo" v-model="formData.codigo" name="codigo"
              class="form-control input-login" required autocomplete="off">

            <field-messages name="codigo" show="$dirty">
              <div slot="required" class="alert alert-danger mt-1">
                Campo requerido.
              </div>
              <!-- <div slot="no-espacios" class="alert alert-danger mt-1">
                No esta permitido el ingreso de espacios entremedio del texto
              </div> -->
            </field-messages>
          </validate>

        </div>

        <div class="form-group col-md-4">
          <validate tag="div">
            <input type="text" id="producto" placeholder="*Nombre del producto" v-model="formData.producto" name="producto"
              class="form-control input-login" required autocomplete="off">
            <field-messages name="producto" show="$dirty">
              <div slot="required" class="alert alert-danger mt-1">
                Campo requerido.
              </div>
              <!-- <div slot="no-espacios" class="alert alert-danger mt-1">
                    No esta permitido el ingreso de espacios entremedio del texto
                  </div> -->
            </field-messages>
          </validate>
        </div>

        <div class="form-group col-md-4">
          <validate tag="div">
            <input type="text" id="tipo" placeholder="Tipo" v-model="formData.tipo" name="tipo"
              class="form-control input-login" required autocomplete="off">
            <field-messages name="tipo" show="$dirty">
              <div slot="required" class="alert alert-danger mt-1">
                Campo requerido.
              </div>
              <!-- <div slot="no-espacios" class="alert alert-danger mt-1">
                    No esta permitido el ingreso de espacios entremedio del texto
                  </div> -->
            </field-messages>
          </validate>
        </div>

      </div>

      <div class="form-row">

        <div class="form-group col-md-4">
          <validate tag="div">
            <input type="text" id="marca" placeholder="Marca" v-model="formData.marca"
              name="marca" class="form-control input-login" required autocomplete="off">
            <field-messages name="marca" show="$dirty">
              <div slot="required" class="alert alert-danger mt-1">
                Campo requerido.
              </div>
              <!-- <div slot="no-espacios" class="alert alert-danger mt-1">
                      No esta permitido el ingreso de espacios entremedio del texto
                    </div> -->
            </field-messages>
          </validate>
        </div>

        <div class="form-group col-md-4">
          <validate tag="div">
            <input type="text" id="precio" placeholder="Precio" v-model="formData.precio"
              name="precio" class="form-control input-login" required autocomplete="off">
            <field-messages name="precio" show="$dirty">
              <div slot="required" class="alert alert-danger mt-1">
                Campo requerido.
              </div>
              <!-- <div slot="no-espacios" class="alert alert-danger mt-1">
                No esta permitido el ingreso de espacios entremedio del texto
              </div> -->
            </field-messages>
          </validate>
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <img alt="" :src="imagen" class="img-crema">
        </div>
        <div class="form-group col-md-4">
          <button class="btn btn-cancelar my-3" type="reset" id="cancelar">
            CANCELAR
          </button>
        </div>

        <div class="form-group col-md-4">
          <button class="btn btn-aceptar my-3" type="submit" :disabled="formstate.$invalid"  id="crear">
          <!-- <button class="btn btn-aceptar my-3" type="submit" id="crear"> -->
            GUARDAR 
          </button>
        </div>

      </div>

    </vue-form>


    <notifications group="error" />





  </div>

</section>

