<section class="src-components-paciente-registro">

  <div id="header">
    <HeaderTitle :titulo="titulo" ></HeaderTitle>
  </div>

  <br>

  <div id="navigator" class="container">

    <vue-form :state="formstate" @submit.prevent="guardar()" @reset="cancelar()" class="form-registro">
            
      <div class="form-row">
        <!-- -------------------------- Nombre --------------------------  -->
        <div class="form-group col-md-4">
          <validate tag="div">
            <input type="text"
                   id="nombre"
                   placeholder="*Nombre"
                   v-model="formData.nombre"
                   name="nombre"
                   class="form-control input-login"
                   required
                   autocomplete="off"
                   no-espacios>
            <field-messages name="nombre" show="$dirty">
              <div slot="required" class="alert alert-danger mt-1">
                Campo requerido.
              </div>
              <div slot="no-espacios" class="alert alert-danger mt-1">
                No esta permitido el ingreso de espacios entremedio del texto
              </div>
            </field-messages>
          </validate>
        </div>
        <!-- -------------------------- Apellido --------------------------  -->
        <div class="form-group col-md-4">
          <validate tag="div">
            <input type="text"
                   id="apellido"
                   placeholder="*Apellido"
                   v-model="formData.apellido"
                   name="apellido"
                   class="form-control input-login"
                   required
                   autocomplete="off"
                   no-espacios>
            <field-messages name="apellido" show="$dirty">
              <div slot="required" class="alert alert-danger mt-1">
                Campo requerido.
              </div>
              <div slot="no-espacios" class="alert alert-danger mt-1">
                No esta permitido el ingreso de espacios entremedio del texto
              </div>
            </field-messages>
          </validate>
        </div>
        <!-- -------------------------- Fecha de Nacimiento --------------------------  -->
        <div class="form-group col-md-4">
            <input type="date"
                   id="fecha"
                   placeholder="*Fecha de Nacimiento"
                   v-model="formData.fecha"
                   name="fecha"
                   class="form-control input-login"
                   autocomplete="off"
                   :max="fechaMax"
                   :min="fechaMin"
                   >
        </div>
      </div>
      <div class="form-row">
        <!-- -------------------------- Tipo de Documento --------------------------  -->
        <div class="form-group col-md-4">
          <validate tag="div">
            <input type="text"
                   id="tipoDocumento"
                   placeholder="Tipo de Documento"
                   v-model="formData.tipoDocumento"
                   name="tipoDocumento"
                   class="form-control input-login"
                   autocomplete="off">
            <field-messages name="tipoDocumento" show="$dirty">
              <div slot="required" class="alert alert-danger mt-1">
                Campo requerido.
              </div>
            </field-messages>
          </validate>
        </div>
        <!-- -------------------------- Numero de Documento --------------------------  -->
        <div class="form-group col-md-4">
          <validate tag="div">
            <input type="number"
                   id="dni"
                   placeholder="Número de Documento"
                   v-model="formData.dni"
                   name="dni"
                   class="form-control input-login"
                   autocomplete="off"
                   required>
            <field-messages name="dni" show="$dirty">
              <div slot="required" class="alert alert-danger mt-1">
                Campo requerido.
              </div>
            </field-messages>
          </validate>
        </div>
        <!-- -------------------------- Telefono --------------------------  -->
        <div class="form-group col-md-4">
          <validate tag="div">
            <input type="number" 
                   id="telefono"
                   placeholder="Teléfono"
                   v-model="formData.telefono" 
                   name="telefono"
                   class="form-control input-login"
                   autocomplete="off"
                   no-espacios>
              <field-messages name="telefono" show="$dirty">
                  <div slot="no-espacios" class="alert alert-danger mt-1">
                    No esta permitido el ingreso de espacios entremedio del texto
                  </div>
              </field-messages>
         </validate>  
        </div>
      </div>
      <div class="form-row">
        <!-- -------------------------- Domicilio --------------------------  -->
        <div class="form-group col-md-4">
          <input type="text" 
                 id="domicilio"
                 placeholder="Domicilio"
                 v-model="formData.domicilio"
                 name="domicilio"
                 class="form-control input-login"
                 autocomplete="off">
        </div>
        <!-- -------------------------- Piso --------------------------  -->
        <div class="form-group col-md-4">
          <input type="text" 
                 id="piso"
                 placeholder="Piso"
                 v-model="formData.piso" 
                 name="piso"
                 class="form-control input-login"
                 autocomplete="off">
        </div>
        <!-- -------------------------- Departamento --------------------------  -->
        <div class="form-group col-md-4">
          <input type="text" 
                 id="departamento"
                 placeholder="Departamento"
                 v-model="formData.departamento"
                 name="departamento"
                 class="form-control input-login"
                 autocomplete="off">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <img alt="" v-bind:src="imagen" class="img-mujer">
        </div>
        <!-- -------------------------- Cancelar --------------------------  -->
        <div class="form-group col-md-4">
          <button class="btn btn-cancelar my-3" type="reset" id="cancelar">
            CANCELAR
          </button>
        </div>
        <!-- -------------------------- Crear --------------------------  -->
        <div class="form-group col-md-4">
          <button class="btn btn-aceptar my-3" type="submit" :disabled="formstate.$invalid"  id="crear">
            CREAR PACIENTE
          </button>
        </div>
      </div>
      </vue-form>

      <notifications group="foo" />
      <notifications group="error" />

      <div>
        <b-modal id="modal-notificar" 
                class="model-notificar" 
                hide-footer
                size="lg"
                centered 
                hide-backdrop 
                no-close-on-backdrop
                >
          <NotificarOK :mensaje="mensaje" :icono="icononotificar"  :modal="nombreModal"></NotificarOK>
        </b-modal>
      </div>

    </div>


</section>