
<section class="src-components-tabla-paciente ">

  <div id="header">
    <HeaderTitle :titulo="titulo"></HeaderTitle>
  </div>

  <div id="navigator" class="container">
    
    <br>
    <!-- filtro -->
    <div class="form-row">
      <div class="form-group col-md-12">
        <input type="text" placeholder="Filtro" v-model="textFiltro" v-on:change="handleChange" 
          class="form-control input-login" autocomplete="off">
      </div>

    </div>
  
    <br>
        <div v-if="pacientes" class="table-responsive"> 
            <table class="table">
              <thead>
                <tr>
                  <th>DNI</th>
                  <th>Apellido y Nombre</th>
                  <th>Fecha</th>
                  <th>Telefono</th>
                  <th>Domicilio</th>
                  <th>Modificar</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(paciente, index) in eventPacientes()" :key="index">
                  <td>{{ paciente.dni | formatoDNI}}</td>
                  <td >{{ paciente.apellido }}, {{ paciente.nombre }}</td>
                  <td>{{ paciente.fecha | formatoFecha }}</td>
                  <td>{{ paciente.telefono | formatoTel }}</td>
                  <td>{{ paciente.domicilio }}</td>
                  <td>
                      <font-awesome-icon v-on:click="modificar(paciente)" 
                                          v-b-modal.modal-paciente 
                                          icon="edit"
                                          class="icono"/>
                  </td>
                </tr>
              </tbody>
            </table>

        </div>
        
       <h4 v-if="peticion" class="alert alert-info">Cargando datos...</h4> 
       <h4 v-if="!pacientes"  class="alert alert-secondary">No se encontraron registrados de pacientes</h4>
   
 
 
       <notifications group="error" />


        <!-- --------------------------- Modal Modificar Paciente --------------------------- -->
       <div>
        <b-modal id="modal-paciente" 
                title="Modificar Paciente"
                class="model-paciente " 
                hide-footer
                size="lg"
                centered 
                hide-backdrop 
                no-close-on-backdrop
                >
          <PacienteModificar :formData='formData'></PacienteModificar>
        </b-modal>
      </div>

      <div class="form-row">
        <div class="form-group col-md-8"></div>
        <div class="form-group col-md-4">
          <button class="btn btn-cancelar my-3" type="reset" id="cancelar" @click="cancelarFiltro()">
            VOLVER
          </button>
        </div>
      </div> 

  </div> <!-- navigator -->

</section>

