
<section class="src-components-filtro">

  <vue-form :state="formstate" @submit="buscar()" @reset="cancelar()" class="form-registro">
            
      <div class="form-row">

        <div class="form-group col-md-4">
              <input  type="text"
                      id="nombre" 
                      placeholder="Nombre"
                      v-model="formData.nombre" 
                      name="nombre"
                      class="form-control input-login"
                      autocomplete="off"
              >
        </div>

        <div class="form-group col-md-4">
            <input  type="text"
                    id="apellido" 
                    placeholder="Apellido"
                    v-model="formData.apellido" 
                    name="apellido"
                    class="form-control input-login"
                    autocomplete="off"
            >
        </div>

        <div class="form-group col-md-4">
            <input  type="text"
                    id="nro_documento" 
                    placeholder="Número de Documento"
                    v-model="formData.nro_documento" 
                    name="nro_documento"
                    class="form-control input-login"
                    autocomplete="off"
            >
        </div>

      </div>


      <div class="form-row">
        
        <div class="form-group col-md-4"></div>

        <div class="form-group col-md-4">
          <button class="btn btn-cancelar my-3" 
                  type="reset"
                  id="cancelar"
                   >
                    {{nombreCancelar}}
          </button>
        </div>

        <div class="form-group col-md-4">
          <button class="btn btn-aceptar my-3" 
                  type="submit"
                  id="boton">
                  BUSCAR
          </button>
        </div>
      </div>

  </vue-form>




</section>

