
<section class="src-components-tabla-paciente container">

  <div id="header">
    <HeaderTitle :titulo="titulo"></HeaderTitle>
  </div>

  <div id="navigator">

    <div id="filtro">
        
    </div>
    <br>
    <br>
        <div v-if="pacientes.length" class="table-responsive"> 
            <table class="table">
              <thead>
                <tr>
                  <th>DNI</th>
                  <th>Apellido y Nombre</th>
                  <th>Fecha</th>
                  <th>Telefono</th>
                  <th>Domicilio</th>
                  <th>Historial</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(paciente, index) in pacientes" :key="index">
                  <td>{{ paciente.dni }}</td>
                  <td >{{ paciente.apellido }}, {{ paciente.nombre }}</td>
                  <td>{{ paciente.fecha }}</td>
                  <td>{{ paciente.telefono }}</td>
                  <td>{{ paciente.domicilio }}</td>
                  <td> cambiar icono <font-awesome-icon icon="calendar-alt" /> </td>
                </tr>
              </tbody>
            </table>

        </div>
       <h4 v-if="peticion" class="alert alert-info">Cargando datos...</h4> 
       <h4 v-if="!peticion && pacientes.length === 0"  class="alert alert-secondary">No se encontraron registrados de pacientes</h4>
   
       <div class="botones-tabla-paciente"></div>
    </div>

</section>

